<div class="row">
    <div class="col s12 m4" *ngFor="let book of allBooks">
        <div class="card">
            <div class="card-image">
                <img src="http://via.placeholder.com/300x150">
                <span class="card-title">{{book.title}}</span>
            </div>
            <div class="card-content">
                <p class="truncate">{{book.description}}</p>
            </div>
            <div class="card-action">
                <a routerLink="/books/{{book.id}}">More</a>
            </div>
        </div>
    </div>
</div>